MROA_ADMIN_EMAIL = ''

MROA_SMTP_HOST = ''
MROA_SMTP_USER = ''
MROA_SMTP_PASS = ''
MROA_SMTP_ENCR = ''
MROA_SMTP_PORT = ''

MROA_FALLBACK_SMTP_HOST = ''
MROA_FALLBACK_SMTP_USER = ''
MROA_FALLBACK_SMTP_PASS = ''
MROA_FALLBACK_SMTP_ENCR = ''
MROA_FALLBACK_SMTP_PORT = ''