MROA_ADMIN_EMAIL = ''
MROA_TEST_USER_EMAIL = ''

MROA_SMTP_HOST_0 = ''
MROA_SMTP_USER_0 = ''
MROA_SMTP_PASS_0 = ''
MROA_SMTP_ENCR_0 = ''
MROA_SMTP_PORT_0 = ''

MROA_SMTP_HOST_1 = ''
MROA_SMTP_USER_1 = ''
MROA_SMTP_PASS_1 = ''
MROA_SMTP_ENCR_1 = ''
MROA_SMTP_PORT_1 = ''

MROA_EF_DRIVER_PATH = ''